firmware/config.h
hardware/pcb/main_board/main_board-backups/
hardware/pcb/libraries/
hardware/pcb/main_board/~*
hardware/pcb/main_board/fp-info-cache
*.FCBak
*.stl
app/node_modules/
app/energy-monitoring/android/
app/energy-monitoring/src/environments/secrets.ts
