// WiFi access
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// InfluxDB access
#define INFLUXDB_URL ""
#define INFLUXDB_TOKEN ""
#define INFLUXDB_ORG ""
#define INFLUXDB_BUCKET ""

// Sensor configuration
#define SENSOR_LOCATION ""
#define vCalibration 
#define currCalibration 

// Other configuration
#define TZ_INFO ""
